body{
    background-color: #000000;
    background-repeat: repeat;
    background-size: contain;
}



div {
  display: block;
  position: fixed;
  margin: -8px;
  width: 100%;
  height: 100%;
}
