* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --menu-speed: 0.5s;
}




/* change la couleur des textes sélectionnés sur la page web */
  ::-moz-selection {  color: rgba(0, 0, 0, 1.0); background: rgba(160, 0, 0, 1.0); }
  ::selection { color: rgba(0, 0, 0, 1.0); background: rgba(160, 0, 0, 1.0); }




/* scrollbar (ascenseur) */
  /* width */
  ::-webkit-scrollbar {
    width: 1vw;
    background-color: #000000;
  }
  /* Track */
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background: #000000;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #141E28;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #780000;
  }








body {
  background-color: #000000;
  background-image: url('background04.gif');
  background-size: cover;
}




@font-face {
    font-family: "monoclatureregular";
    src: url('monoclature-webfont.woff') format('woff'),
         url('monoclature-webfont.ttf') format('truetype'),
		     url('monoclature-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}








a.lientitre {
 color: #141E28;
 background-color: transparent;
 text-decoration: none;
 }
 a.lientitre:hover {
 color: #780000; /* #000000 pour monoclature */ /* #780000 pour arial cursed */
 background-color: transparent; /* #780000 pour monoclature */ /* transparent pour arial cursed */
 }
 a.lientitre:active{
 color: #000000;
 background-color: transparent;
}




div#titre {
  font-family: arial; /* font-family: "monoclatureregular", courier, monospace; */  /* font-family: arial; */
  font-weight: normal; /* font-weight: bold;*/ /* font-weight: normal; */
  font-size: 18vh; /* 24vh ou 12vh ou 8vh pour monoclature */ /* 18vh pour arial cursed */
  line-height: 10vh; /* 24vh ou 12vh ou 8vh pour monoclature */ /* 10vh pour arial cursed */
  color: #141E28;
  max-height: 80vh;
  max-width: 80vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  justify-content: center;
  align-items: center;
}












/* RESPONSIVE */

@media all and (orientation: portrait) {




  a.lientitre {
   color: #141E28;
   background-color: transparent;
   text-decoration: none;
   }
   a.lientitre:hover {
   color: #780000; /* #000000 pour monoclature */ /* #780000 pour arial cursed */
   background-color: transparent; /* #780000 pour monoclature */ /* transparent pour arial cursed */
   }
   a.lientitre:active{
   color: #000000;
   background-color: transparent;
  }




  div#titre {
   font-family: arial; /* font-family: "monoclatureregular", courier, monospace; */  /* font-family: arial; */
   font-weight: normal; /* font-weight: bold;*/ /* font-weight: normal; */
   font-size: 14vh; /* 34vh ou 18vh ou 12vh pour monoclature */ /* 14vh ou 26vh pour arial cursed */
   line-height: 8vh; /* 34vh ou 18vh ou 12vh pour monoclature */  /* 8vh ou 15vh pour arial cursed */
   color: #141E28;
   max-height: 80vh;
   max-width: 80vw;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -45%);
   justify-content: center;
   align-items: center;
  }








  /* décaler les repères de catégories à cause du menu/header */  /* inutile pour cette page ? */

   div#creepypastas { padding-top: 200px; }
   div#scp { padding-top: 200px; }
   div#scplist { padding-top: 200px; }
   div#backrooms { padding-top: 200px; }
   div#analoghorror { padding-top: 200px; }
   div#argstories { padding-top: 200px; }
   div#arggames { padding-top: 200px; }
   div#steganography { padding-top: 200px; }
   div#internetmysteries { padding-top: 200px; }
   div#reality { padding-top: 200px; }
   div#cults { padding-top: 200px; }
   div#truecrime { padding-top: 200px; }
   div#lostmedias { padding-top: 200px; }
   div#misc { padding-top: 200px; }




}
