* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --menu-speed: 0.5s;
}




/* change la couleur des textes sélectionnés sur la page web */
  ::-moz-selection {  color: rgba(40, 0, 0, 1.0); background: rgba(200, 0, 0, 1.0); }
  ::selection { color: rgba(40, 0, 0, 1.0); background: rgba(200, 0, 0, 1.0); }




/* scrollbar (ascenseur) */
  /* width */
  ::-webkit-scrollbar {
    width: 1vw;
    background-color: #280000;
  }
  /* Track */
  ::-webkit-scrollbar-corner,
  ::-webkit-scrollbar-track {
    background: #280000;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #280000;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #C80000;
  }








body {
  background-color: #280000;
  background-image: url('background-rxndxm-01.jpg');
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: contain;
}




@font-face {
    font-family: "monoclatureregular";
    src: url('monoclature-webfont.woff') format('woff'),
         url('monoclature-webfont.ttf') format('truetype'),
		     url('monoclature-webfont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}








a.lientitre {
 color: #8C0000; /* #32373C (fond gris) ou #8C0000 (fond rouge) */
 background-color: transparent;
 text-decoration: none;
 }
 a.lientitre:hover {
 color: #C80000; /* #780000 (fond gris) ou #C80000 (fond rouge) */
 background-color: transparent;
 }
 a.lientitre:active{
 color: #280000; /* #0A0A0A (fond gris) ou #280000 (fond rouge) */
 background-color: transparent;
}




div#titre {
  font-family: arial;
  font-weight: normal;
  font-size: 18vh;
  line-height: 10vh;
  color: #8C0000;
  max-height: 80vh;
  max-width: 80vw;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
  justify-content: center;
  align-items: center;
}












/* RESPONSIVE */

@media all and (orientation: portrait) {




  a.lientitre {
   color: #8C0000; /* #32373C (fond gris) ou #8C0000 (fond rouge) */
   background-color: transparent;
   text-decoration: none;
   }
   a.lientitre:hover {
   color: #C80000; /* #780000 (fond gris) ou #C80000 (fond rouge) */
   background-color: transparent;
   }
   a.lientitre:active{
   color: #C80000; /* #0A0A0A (fond gris) ou #C80000 (fond rouge) ou #280000 (fond rouge) */
   background-color: transparent;
  }




  div#titre {
   font-family: arial;
   font-weight: normal;
   font-size: 10vh;
   line-height: 6vh;
   color: #8C0000;
   max-height: 80vh;
   max-width: 80vw;
   margin: 0;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -40%);
   justify-content: center;
   align-items: center;
  }
